<div class="main posts-index">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="posts-index-item col-md-6 col-xs-12">
        <div class="post-right">
          <%= link_to post.content, post_path(post.id) %>
          <%= image_tag post.image.to_s ,:size =>'100x60'%>
        </div>  
      </div>
    <% end %>
  </div>
</div>
