<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag('/posts#new') do %>
    <div class="form">
    <div class="form-body">
    <% @post.errors.full_messages.each do |message| %>
    <div class="form-error">
    <%= message %>
    </div>
    <% end %>
    <%= text_area_tag :content, @post.content %>
    <input type="submit" value="投稿を確認" class="btn btn-link">
    </div>
    </div>
    <% end %>
  </div>
</div>